html, body {
    padding-top: 30px;
    background-color: #afaaaa;
    margin: 0 auto;
    width: 60vw;
    font-size: 20px;
}
.calculatorContainer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
p {
    font-size: 2rem;
    color: #9e5959;
    text-align: center;
}
#outputHistory {
    box-sizing: border-box;
    width: 60vw;
    height: 45vh;
    border: none;
    padding: 1rem 1rem;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    color: #695c5c;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    gap: 10rem;
    margin-top: 10px;
}
button {
    padding: 1rem 5rem;
    background-color: #9e5959;
    color: #fff;
    border-radius: 15px;
    border: none;
    transition: 0.3s;
    font-size: 1.1rem;
}
button:hover {
    background-color: #695c5c;
    color: #ffffff;
    border-radius: 0px;
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
    html, body {
        width: 80vw;
    }
    p {
        font-size: 2.2rem;
    }
    #outputHistory {
        width: 80vw;
        padding-top: 1.1rem;
        font-size: 1.1rem;
    }
    .buttons {
        flex-direction: column;
        gap: 0.8rem;
        font-size: 1.1rem;
    }
    button {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    p {
        font-size: 2.5rem;
    }
    #outputHistory {
        width: 90vw;
        font-size: 1.5rem;
    }
}